/* mainStyles.css */

@font-face
{
  font-family: gnutypewriter;
  src: url("gtw.ttf");
}

body
{
  color: rgb(0,0,0);
  background-color: hsl(211, 100%, 75%);
  font-family: sans-serif;
}

#header
{
  border-bottom-width: 7px;
  border-bottom-color: black;
  border-bottom-style: double;
  background-color: hsl(217, 39%, 91%);
  font-family: gnutypewriter;
}

#left
{
  float: left;
  min-width: 28em;
  width: 35%;
  font-family: gnutypewriter;
}

/*container for sent messages*/
#right
{
  border-left-width: 3px;
  border-left-color: black;
  border-left-style: double;
  float:  left;
  width: 60%;
  min-width: 28em;
  padding-left: 2em;
  font-family: monospace;
}

/*space for database item*/
.message
{
  border-width: 4px;
  border-style: double;
  border-color: #000000;
  margin: 4px;
  padding: 4px;
  background-color: hsl(3, 16%, 89%);
}

/*space for personal information fields*/
.personalInfo
{
  border-width: 0px;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: #000000;
  margin-bottom:  4px;
  background-color: hsl(14, 100%, 76%);
  font-size: 120%;
  font-weight: bold;
}

/*space for text of message*/
.messageText
{
  background-color: hsl(0, 100%, 100%);
  width: inherit;
}

#footer
{
  border-top-width: 5px;
  border-top-color: black;
  border-top-style: double;
  clear: both;
  background-color: hsl(217, 39%, 91%);
  text-align: center;
  font-family: gnutypewriter;
}

/* breif */
.header
{
  font-style: italic;
  text-decoration: underline;
  text-align: center;
  font-weight: 100;
  font-size: 300%;
  text-shadow: 5px 5px 2px #cccccc;
}

/* label */
.description
{
  font-size: larger;
  float: left;
  width: 7em;
  text-align: right;
  margin: 0.3em;
  clear: left;
}

/* input for fields */
.inputtext
{
  background-color: hsl(3, 16%, 89%);
  border-color: hsl(24, 59%, 61%);
  border-width: 4px;
  border-style: solid;
  font-size: larger;
  padding: 3px;
  margin: 0.3em;
  font-family: monospace;
  float: left;
  clear: right;
}

.inputtext:focus
{
  background-color: #FFFFFF;
  border-color: hsl(0, 59%, 61%);
}

/*and input for message*/
.inputmessage
{
  margin:  1em;
  width: 24em;
  height: 13em;
  font-family: monospace;
  float: left;
  clear: both;
}

/*submit and reset buttons*/
.nicebutton
{
  background-color: hsl(24, 59%, 61%);
  font-family: gnutypewriter;
  font-size: larger;
  border-width: 4px;
  border-radius: 9px;
  border-style: solid;
  border-color: hsl(241, 100%, 26%);
  border-style: solid;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 9em;
  float: left;
  margin-left: 1em;
  margin-right: 1em;
}

.nicebutton:hover
{
  background-color: hsl(0, 59%, 61%);
}

.nicebutton:focus
{
  background-color: hsl(0, 59%, 61%);
}

.nicebutton:active
{
  background-color: hsl(0, 100%, 26%);
}